
<h1>{{ question.name }}</h1>
{% if error_message %}<p><strong>{{error_message}}</strong></p>{% endif %}
<ol>
<form action = "{% url 'stacked:vote' question.id %}" method="post">
{% csrf_token %}
{% for answer in question.answer_set.all %}
	<input type="radio" name="answer" id="answer{{forloop.counter}}" value ="{{answer.id}}" />
	<label for="answer{{forloop.counter}}">{{answer.answer}} </label><br/>
{% endfor %}
<input type="submit" value="Vote" />
</form>

<form action="{% url 'stacked:vote' question.id %}" method="post">
{% csrf_token %}
	<label for="your_answer"> Your Answer: </label>
	<input id="your_answer" type="text" answer="your_answer" value="{{current_answer}}">
	<input type="submit" value="Submit">
</ol>
</body>
<!-- WE NEED TO ADD AN ANSWER FORM HERE SO PEOPLE CAN ADD OTHER ANSWERS TO THE PAGE -->
